<!--<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
<security-constraint>
<web-resource-collection>
<web-resource-name>classic</web-resource-name>
<url-pattern>/classic/*</url-pattern>
</web-resource-collection>
<auth-constraint>
<role-name>classic</role-name>
<role-name>admin</role-name>
</auth-constraint>
</security-constraint>
<login-config>
<auth-method>BASIC</auth-method>
<realm-name>Connexion</realm-name>
</login-config>
</web-app>-->
